* {
  font-family: 'Source Code Pro', serif;
}
div.header {
  background-color: #9DDBAD;
  height: 100px;
  width:100%;
  margin: 0px;
}

.text-muted {
  color: black;
  opacity: 0.3;
}

// Search Bar //

div #wrap-container {
  width: 70%;
  height: 80px;
  background-color: #CEF59B;
  opacity: 0.7;
}

#wrap {
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 60px;
  padding: 0;
  border-bottom: 1px solid #BBB;
  vertical-align: text-top;
}

.search.placeholder {
    text-align: center;
}

input[type="text"] {
  height: 60px;
  font-size: 30px;
  display: inline-block;
  font-family: 'Source Code Pro';
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 50%;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  cursor: pointer;
  border-bottom: 1px solid #BBB;
}


input[type="text"]:focus {
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: pointer;
  text-align: center;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  text-indent: -10000px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  display: none;
}

input, input[placeholder]{
  text-align: center;
}



// candidates //

img.image-person {
  margin-top: 3px;
  height: 400px;
  background-image: url(user.png);
}

footer {
  position:fixed;
  height:100px;
  bottom:0px;
  width:100%;
  margin-bottom: 0px;
  background-color: #374B4A;
}