* {
    font-family:'Source Code Pro',serif
}

div.header {
    background-color:#16DB65;
    height:40px;
    width:100%;
    margin:0
}

h1 {
    padding:15px;
    opacity:.4;
    font-size:10px
}

.text-muted {
    color:#000;
    opacity:.3
}

// Search Bar //
div #wrap-container {
    width:50%;
    height:50px;
    background-color:#CEF59B;
    opacity:.7
}

#wrap {
    position:absolute;
    margin-left:15%;
    margin-right:15%;
    width:50%;
    height:60px;
    padding:0;
    border-bottom:1px solid #BBB;
    vertical-align:text-top
}

input.placeholder {
    text-align:center;
    padding:0;
    margin-bottom:0
}

input[type="text"] {
    height:46px;
    font-size:10px;
    display:inline-block;
    font-family:'Source Code Pro';
    font-weight:100;
    border:none;
    outline:none;
    color:#555;
    padding:3px;
    width:50%;
    top:0;
    right:0;
    background:none;
    z-index:3;
    cursor:pointer;
    border-bottom:1px solid #BBB
}

input[type="text"]:focus {
    z-index:1;
    border-bottom:1px solid #BBB;
    cursor:pointer;
    text-align:center
}

input[type="submit"] {
    height:67px;
    width:63px;
    text-indent:-10000px;
    border:none;
    outline:none;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    cursor:pointer;
    opacity:.4;
    cursor:pointer;
    transition:opacity .4s ease;
    display:none
}

input,input[placeholder] {
    text-align:center
}

h3 {
    font-size:10px;
    margin-bottom:0
}

p {
    font-size:10px;
    margin-top:0
}

.candidate-heading {
    margin-bottom:0;
    padding-bottom:0
}

div #candidate-image {
    padding:0;
    height:25px;
    clear:both
}

.round-button {
    width:20%
}

.round-button-circle {
    width:100%;
    height:0;
    padding-bottom:100%;
    border-radius:50%;
    border:1px solid #cfdcec;
    overflow:hidden;
    background:#000;
    opacity:.8
}

.round-button-circle:hover {
    background:#000
}

.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:40%;
    padding-bottom:20%;
    line-height:1em;
    margin-top:-.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:'Source Code Pro',serif;
    font-size:.7em;
    font-weight:700;
    text-decoration:none
}

img {
    height:20px
}

footer {
    position:fixed;
    height:30px;
    bottom:0;
    width:100%;
    margin-bottom:0;
    background-color:#000;
    color:#F9CB40;
    padding-left:20px;
    padding-top:5px;
    font-size:8px
}